  /* Footer styles */
  footer {
    background-color: white;
    color: #484848;
    padding: 10px 0; /* Add some padding for content */
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  /* Adjust footer content for smaller screens */
  @media (max-width: 768px) {
    footer {
      font-size: 14px; /* Reduce font size for smaller screens */
    }
  }

  /* Additional media queries for further responsiveness can be added here */
