header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
  }
